.card-list{
  max-width: 60rem;
  width: (100% - 2rem);
  margin: .5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 1rem;
  padding: 0 1rem;
  justify-content: space-around;
}

.no-cards{
  width: 100%;
  margin: .5rem auto;

  padding: 2rem;
  text-align: center;
  font-size: 1.7rem;
  color: rgba(0,0,0,.6);
}