*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
}

body{
  background: rgb(13,191,185);
  background: linear-gradient(33deg, rgba(13,191,185,1) 0%, rgba(103,252,252,1) 100%);
  min-height: 100vh;
  background-size: cover;
}

h1{
  width: 100%;
  text-align: center;
  margin: 2rem 0;
  font-size: 3em;
  color: #fff;
  font-weight: bold;
  color: rgb(25, 72, 72);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

::selection {
  background: rgba(255, 255, 255, 0.5); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(255, 255, 255, 0.5);  /* WebKit/Blink Browsers */
}